@import 'styles/variables';

.about-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include font-small;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-frame {
  width: 80%;
  max-width: 800px;
  height: 70vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.about-section {
  margin-bottom: 20px;

  &.nested {
    margin-left: 20px;
  }
}

.section-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  transition: transform 0.3s ease;
  font-size: 14px;
  color: $color-white;

  &.expanded {
    transform: rotate(90deg);
  }
}

.section-content {
  max-height: 1000px; // Adjust this value based on your content
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, margin-top 0.3s ease-out;
  opacity: 1;
  margin-top: 15px;
  margin-left: 15px;
  border-left: 1px dotted $color-white;
  padding-left: 10px;

  &:not(.expanded) {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
  }
}

.info-line {
  margin-bottom: 10px;
}

.info-key {
  color: $color-white;
  margin-right: 5px;
}

.info-value {
  color: #999; // Medium grey color
}

.year-group {
  margin-bottom: 20px;
}

.year {
  margin-bottom: 10px;
}

.year-content {
  margin-left: 15px;
  border-left: 1px dotted $color-white;
  padding-left: 10px;
}

.newsletter-form {
  margin-top: 20px;

  .input-group {
    display: flex;
    align-items: center;
  }

  input {
    @include font-tiny;
    background: none;
    border: none;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    padding: 4px 0;
    width: 200px;

    &::placeholder {
      color: rgba($color-white, 0.6);
    }
  }

  .send-button {
    background: $color-white;
    border: none;
    color: var(--project-theme-color, $color-theme-aops);
    cursor: pointer;
    padding: 4px 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    svg {
      width: 12px;
      height: 12px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.form-message {
  margin-top: 8px;
  color: $color-white; // or any other color you prefer
}

a {
  color: $color-white;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.external-link-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 4px;
  background-color: $color-white;
  border-radius: 6%;
  padding: 3px;
  width: 7px;
  height: 7px;

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: var(--project-theme-color, $color-theme-aops);
  }
}

// Media query for mobile devices
@media (max-width: 768px) {
  .about-frame {
    width: 90%;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

h2.section-header {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h3.year {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
