@import 'styles/variables';

@font-face {
    font-family: 'SF Mono';
    src: url('./fonts/SFMono-Regular.woff2') format('woff2'),
         url('./fonts/SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg';
    src: url('./fonts/Ogg-Regular.woff2') format('woff2'),
         url('./fonts/Ogg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  @include font-tiny;
  margin: 0;
  /* mobile viewport bug fix */
  height: 100vh;
}

/* Use a CSS variable for viewport height */
:root {
  --vh: 1vh;
}

/* Add this new class */
.app-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  width: 100%;
}
