@import 'styles/variables';

@font-face {
    font-family: 'SF Mono';
    src: url('./fonts/SFMono-Regular.woff2') format('woff2'),
         url('./fonts/SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg';
    src: url('./fonts/Ogg-Regular.woff2') format('woff2'),
         url('./fonts/Ogg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Reset heading styles
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-block-end: 2em;
  margin-block-start: 1em;
}

html {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  font-family: 'SF Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 12px; // Base size for mobile
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  height: 100vh;

  @media (min-width: 769px) {
    font-size: 14px; // Base size for desktop
  }
}

/* Use a CSS variable for viewport height */
:root {
  --vh: 1vh;
}

/* Add this new class */
.app-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  width: 100%;
}
