@import 'styles/variables';

body, #root {
  background-color: #e6d7cc; // Change this to a color that blends well with your images
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.app {
  position: relative;
}

.main-content {
  /* Add any necessary styles for the main content area */
}

.main-content.with-header {
  padding-top: 0; /* Remove padding-top */
}
