@import 'styles/variables';

.dynamic-image-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-out;

  &.fade-out {
    opacity: 0;
  }

  &.animate {
    .frame-rectangle { animation: drawFrame 1s ease-out forwards; }
    .frame-label { animation: fadeIn 0.5s ease-out 0.5s forwards; }
    .node-line { animation: drawLine 1s ease-out forwards; }
    .node-label,
    .node-point { animation: fadeIn 0.5s ease-out forwards; }
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-rectangle {
  position: absolute;
  border: 0.266667px solid $color-white;
  pointer-events: none;
  filter: drop-shadow(0px 0.523999px 5.76399px rgba(131, 213, 233, 0.25));
}

.frame-label,
.node-label {
  position: absolute;
  font-family: 'SF Mono', monospace;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  pointer-events: none;
}

.frame-label {
  @include font-small;
  padding: 4px;
  background: $color-white;
  color: $color-dark; // This is now #091115
  transform: translate(0, -100%);
}

.node-label {
  @include font-tiny;
  color: $color-white;
  opacity: 0;
  transform: translate(-50%, -50%);
  border: 0.25px solid rgba($color-white, 0.3);
  padding: 2px 4px;
  animation: fadeIn 0.3s ease-out forwards;
  background-color: rgba($color-dark, 0.1);
  backdrop-filter: blur(4px);
}

.node-line {
  stroke: white;
  stroke-width: 0.25;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 1s ease-out forwards;
}

.node-point {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: $color-white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawFrame {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
