@import 'styles/variables';

.gallery {
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  background: $color-background;
  overflow-y: auto;
  overflow-x: hidden;
}

.gallery-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.gallery-logo {
  cursor: pointer;
}

.gallery-image-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-navigation {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-nav-dot {
  width: 8px;
  height: 8px;
  margin: 0.5rem 0;
  border-radius: 50%;
  background-color: rgba($color-white, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: $color-white;
  }
}
