@import 'styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  height: 76px;
  background-color: transparent;
  z-index: 20;
}

.header-logo {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header-project-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: margin-right 0.3s ease;

  .project-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-white;
    margin-left: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease, margin-left 0.3s ease;
  }

  &.menu-open {

    .project-circle {
      opacity: 1;
      transform: scale(1);
      margin-left: 1rem;
    }
  }
}

.project-name {
  font-family: 'SF Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-white;
}

.project-separator {
  width: 12.6px;
  height: 26.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $color-white;
}

.project-season {
  width: 27px;
  height: 10px;
  font-family: 'SF Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-white;
}

.header.menu-open {
  background-color: $color-dark;
}
