@import 'styles/variables';

.navigation-menu {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(9, 17, 21, 0.8);
  backdrop-filter: blur(10px);
  color: $color-white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navigation-content {
  padding: 8px 32px;
}

.navigation-project-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation-project-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  .project-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4F5152; // 50% white
    margin-left: 1rem;
  }
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 4px;
}

.project-name {
  font-family: 'SF Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.project-separator {
  margin: 0 4px;
}

.project-season {
  font-size: 12px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4F5152;
  margin-left: 1rem;
}

.navigation-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: $color-white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
