@import 'styles/variables';

.splash-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #091115;
  overflow: hidden;
}

.splash-scroll-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.splash-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.splash-background {
  display: inline-block;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.splash-background::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 828 / 255;
  height: 100vh;
}

.splash-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 5vw;
  box-sizing: border-box;
}

/* Add pointer-events back to the children of splash-content */
.splash-content .splash-enter-button{
  pointer-events: auto;
}

.splash-glass-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.01);
  border: 0.5px solid #FFFFFF;
  backdrop-filter: blur(7.5px);
  pointer-events: none;
}

.splash-logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.splash-logo {
  width: 32px;
  height: 19px;
}

.splash-title {
  @include font-small;
  text-align: center;
}

.splash-intro-text {
  @include font-tiny;
  max-width: 200px;
  text-align: right;
  align-self: flex-end;
}

.splash-enter-button {
  @include font-tiny;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
}

.splash-enter-button::after {
  content: '/';
  font-size: 26px;
  line-height: 1;
}
